@model AthletesApplication.Domain.DomainModels.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Tournament</h4>

<!-- TODO: Create Table for Tournament -->

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>

<h4>Athletes</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>

            <th>
                Jersey Number
            </th>
            <th>
                Date of birth
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AthleteInTournaments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete.JerseyNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete.DateOfBirth)
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Total Athletes: </strong> @Model.AthleteInTournaments.Count
        </div>
    </div>
</div>